<div class="page-header">
  <h1>Movie Listings</h1>
</div>

<%= link_to "Post a new movie", new_movie_path %>

<% @movies.each do |movie| %>
<div class="movie">
  <strong><%= movie.title %></strong>
  <p><%= movie.year %></p>
  <div class="meta">
    <%= link_to "Show", movie %>
    <span class="admin">
   | <%= link_to "Edit", edit_movie_path(movie) %> |
      <%= link_to "Delete", movie, method: :delete, data:{ confirm: "are you sure you want to delete?"} %>
    </span>
  </div>
  </div>
<% end %>
